<div class="checkboxWrapper label--right">
  <input type="checkbox" name="check" class="" id="check" checked />
  <label for="check">djfhkgdfjkgdf</label>
</div>
<div class="wrap">
  <div class="checkboxWrapper label--left">
    <input type="checkbox" name="check1" class="" id="check1" checked />
    <label for="check1">djhjgjhkgjkg</label>
  </div>
  <div class="checkboxWrapper label--left">
    <input type="checkbox" name="check2" class="" id="check2" checked />
    <label for="check2">djhdhgjkgjadk</label>
    <div class="slider--icons">
      <span>T</span>
      <span>C</span>
    </div>
  </div>
</div>
