<div class="toggle-switch--Wrapper" [class]="'label--' + labelPosition">
  <!-- <label [for]="id" showLabel="isShowLabel" labelPosition="labelPosition">{{
  label
}}</label> -->
  <input
    type="checkbox"
    [id]="id"
    [value]="value"
    [name]="id"
    [required]="required"
    [checked]="checked"
    [disabled]="disabled"
    [attr.aria-checked]="checked"
    (click)="onClick($event)"
    (keyup.enter)="onClick($event)"
  />
  <label [for]="id" showLabel="isShowLabel" labelPosition="labelPosition">{{
    label
  }}</label>
</div>
