<!-- <button [ngSwitch]="buttonType">
  <ng-template [ngSwitchCase]="'submit'">
    {{ buttonType }}
  </ng-template>

  <ng-template [ngSwitchCase]="'JavaScript'"> JavaScript Course </ng-template>
  <ng-template [ngSwitchDefault]> HTML Course </ng-template>
</button> -->

<!-- <button class="button__primary">Primary</button>
<button class="button__secondary">Secondary</button>
<button class="button__error">Error</button> -->

<collab-comp-button
  type="button"
  [buttonConfig]="buttonConfig"
  [isBtnDisbaled]="true"
></collab-comp-button>
<br />
<collab-comp-button
  type="link"
  [linkConfig]="linkConfig"
  [isBtnDisbaled]="true"
></collab-comp-button>
<br />
<collab-comp-button
  type="add"
  [addButtonConfig]="addButtonConfig"
></collab-comp-button>
<br />
<collab-comp-button
  type="icon"
  [iconButtonConfig]="iconButtonConfig"
></collab-comp-button>
