<h1>Button component displays</h1>

<div>
  Button submit active:
  <collab-comp-button
    type="button"
    [buttonConfig]="submitButtonConfig"
    [isBtnDisbaled]="false"
  ></collab-comp-button>
</div>

<div>
  Button reset active:
  <collab-comp-button
    type="button"
    [buttonConfig]="resetButtonConfig"
    [isBtnDisbaled]="false"
  ></collab-comp-button>
</div>

<div>
  <collab-comp-button
    type="link"
    [linkConfig]="linkConfig"
    [isBtnDisbaled]="true"
  ></collab-comp-button>
</div>

<collab-comp-button
  type="add"
  [addButtonConfig]="addButtonConfig"
></collab-comp-button>
<br />
<collab-comp-button
  type="icon"
  [iconButtonConfig]="iconButtonConfig"
></collab-comp-button>
