<div class="carousel-container">
  <div class="slide-container">
    <div
      class="slide"
      *ngFor="let slide of slides; let i = index"
      [ngClass]="{ active: i === currentSlideIndex }"
    >
      <img
        [src]="slide.slideImageUrl"
        alt=""
        width="10%"
        [@slideAnimation]="transitionProperties.transitionStyle"
      />
    </div>
  </div>

  <div class="dot-container">
    <span
      class="dot"
      *ngFor="let slide of slides; let i = index"
      (click)="currentSlideIndex = i"
      [ngClass]="{ active: i === currentSlideIndex }"
      >A</span
    >
  </div>

  <button class="prev-btn" (click)="prevSlide()">&lt;</button>
  <button class="next-btn" (click)="nextSlide()">&gt;</button>
</div>
